<div class="axis-search" id="<%= form.attr_id("search") %>">

  <div class="axis-search-header">
    <div class="axis-search-header-filters">
      <span class="axis-search-header-label">Search:</span>
      <%= form_tag(path_for_self) do -%>
        <%= select_tag form.attr_name("add"),
          options_for_select(form.available_filters),
          :include_blank => "Choose a filter..."
          %>
        <%= hidden_field_tag axis.attr_name("action"),  action_name %>
        <%= submit_tag "Add" %>
      <% end -%>
    </div>
    <% if per -%>
      <div class="axis-search-header-per">
        <%= form_tag(path_for_self) do -%>
          <%= select_tag form.attr_name("per"), options_for_select([5, 10, 25, 50, 100], form.per) %>
          <%= hidden_field_tag axis.attr_name("action"), action_name %>
          <%= submit_tag "Per Page" %>
        <% end -%>
      </div>
    <% end -%>
  </div>

  <div class="axis-search-info">
    <span class="axis-search-info-title">Filters:</span>
    <%= form.filters.length %> with <%= form.total %> matching records out of <%= form.absolute_total %> total.
  </div>

  <%= form_tag(path_for_self) do -%>
    <table class="axis-search-filters">
      <% form.filters.each do |filter| %>
        <tr>
          <td><%= link_to_self "delete", form.attr_hash("del", filter.id) %></td>
          <td><%= filter.id == 0 ? "" : "AND" %></td>
          <td><%= filter.display %></td>
          <td><% if filter.negatable? -%>
            (<%= check_box_tag filter.attr_name("negate"), "1", filter.negated? %> doesn't)
            <% else %>&nbsp;<% end -%>
          </td>
          <%= render :partial => "axis/filter/#{filter.type}", :locals => { :form => form, :filter => filter } %>
        </tr>
      <% end -%>
    </table>
    <% if form.filters.length > 0 -%>
      <%= submit_tag "Update" %>
      <%= submit_tag "Reset" %>
    <% end -%>
    <%= hidden_field_tag form.attr_name("form"),   "search"     %>
    <%= hidden_field_tag axis.attr_name("action"),  action_name %>
  <% end -%>

</div>
