<div class="axis-table" id="<%= form.attr_id("table") %>">
  <table>

    <thead>
      <tr>
        <th scope="col" id="<%= form.attr_id("table", "header") %>">&nbsp;</th>
        <% form.displayables.each do |name, attr| -%>
        <th scope="col" id="<%= form.attr_id("table", "header", name) %>"><%= attr.caption %></th>
        <% end -%>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td>&nbsp;</td>
        <td colspan="<%= form.displayables.keys.length %>">
          Showing page <%= form.page %> of <%= form.pages %> (<%= form.per %> per page)
        </td>
      </tr>
    </tfoot>

    <tbody>
      <% form.records.each do |record| -%>
        <tr>
          <td headers="<%= form.attr_id("table", "header") %>">&nbsp;</td>
          <% form.displayables.each do |name, attr| -%>
            <td headers="<%= form.attr_id("table", "header", name) %>"><%= form.render_field(attr, record) %></td>
          <% end -%>
        </tr>
      <%- end %>
    </tbody>

  </table>
</div>
